 <form action="http://192.168.1.123/change" method="post">
  Index: <input type="range" name="index" min="0" max="24" step="1"> <br> <br>
  Couleur: <br>
  <input type="radio" name="color" value="0" checked="checked"> Bleu<br>
  <input type="radio" name="color" value="1"> Rouge<br>
  <input type="radio" name="color" value="2"> Vert<br> 
  
  
  <input type="submit" value="Submit">
</form> 
 